
body {
  background-color: #372f41;
}
.lbcontainer {
  display: flex;
  justify-content: center;
}
h1 {
  font-family: Tahoma;
  font-size: 2em;
  color: white;
  text-align: center;
}
table {
  border-collapse: collapse;
  font: 16px "Lucida Grande", "Helvetica", "Arial", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
}
tr:nth-child(even){
  background-color: #646262;
}
tr:hover {
  background-color: #b8b8b8;
}
th,
td {
  border: 1px solid #bbb;
  padding: 2px 8px 0;
  text-align: left;
  border-bottom: 1px solid #ddd;

  text-align: left;
  
  color: white;
}
th {
  background-color: #04AA6D;
  padding-top: 12px;
  padding-bottom: 12px;
}