
.invalid:focus {
    background: #ff000022;
}
.title {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS';
  
  }

h1, p {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS';
}
html {
    scroll-behavior:smooth;
}
#invalidText {
    text-align: center;
    color: red;
}  
body {
    background-color: #372f41;
  }
#coloroptions {
    margin-bottom: 40px;
}
.notpreviewed {
    display: none;
}
.petchoices {
    display: flex;
    justify-content: center;
}
#petpreview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 0px;
    border: black solid 1px;
    margin-left: 44vw;
}

.preview {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.selected {

    border: solid lime 0.2em
}


.animal {
    
    transform-origin: center;
    transition: 0.1s ease-in-out;
}
#coloroptions {
    margin-top: 2vw;
    display: flex;
    gap: 2vw;
    justify-content: center;
}   
.nameinput {
    font-family: Tahoma;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2vw;

}
.colorcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Tahoma;
    color: white;
    margin-bottom: 3px
}
#createcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#postcreatereq {
    background-color: rgb(98, 0, 255);
    border-radius: 1em;
    display: flex;
    width:11em;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 8px 25px -15px;
    padding: 0.5em;
    border: 0;
    white-space: nowrap;
}
#postcreatereq:hover {
    background-color: #5900ff;
}
.animal:hover {
    
    transform: scale(1.1,1.1) 

}